/* #upper{
    height: 5vh;
}

#partecipants{
    height: 85vh;
    padding: 2%;
}

#comands-bar{
    height: 10vh;
} */

/* upper part */

html{
    font-size: 16px;
}

#upper{
    background-color: black;
}

span{
    padding: 1%;
    background-color: gray;
    color: white
}

#upper div{
    align-items: center;
    height: 80%;
    border-radius: 10px;
    background-color: gray;
    color: white;
    padding: .3% .5%;
}

#upper i{
    align-items: center;
}

/* partecipants part */

#partecipants{
    background-color: black;
}

.card{
    padding: 0.2%;
}

.mic{
    position: absolute;
    bottom: 0;
    left: 0;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card{
    height: calc( 100% / 7 );
}

.image{
    width: 100%;
    height: 100%;
}

/* footer part */

#commands-bar{
    background-color: gray;
    color: white;
    width: 100%;
}

.left-footer, .central-footer, .right-footer{
    align-items: center;
    
}

.icon-up{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: 20px;
}

.share-screen i{
    color: green;
}
